BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 0
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: true
CompactNamespaces: true
BreakBeforeBraces: Allman
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterNamespace: true
  AfterStruct: true
  BeforeElse: true
  BeforeCatch: true